*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:  none !important;


}
.li{
  color:white;
}
.li:hover{
    color: green;
    transition: 200ms ease-in;
}
nav ul{
    display:flex;
   
    margin-right:40px;
    list-style:none;
    gap:20px;
    font-size:25px;
    display:inline-flex;
    margin-top:10px;
    float:right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  
    
}

nav{
    background-color: rgb(0, 0, 0);
    padding:15px;
    height:70px;
  
    
}
nav img{
    width:50px;
    display:inline-block;
    margin-left:30px;
    
}

