.card{
    width:180px;
    height:200px;
    padding:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left:12px;
    margin-top:50px;
    border:1px solid black;
}

.card ul li{
    list-style:none;
    margin-top:20px;
}
.main{
    display:flex;
    overflow: hidden;
    
}